* {
  margin: 0;
  padding: 0;
}
body,
html {
  font: 12px/1.5 'Microsoft YaHei';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  background: none;
  border: none;
  outline: none;
}
a:link {
  text-decoration: none;
  outline: none;
}
a:visited {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  outline: none;
}
a:active {
  text-decoration: none;
  outline: none;
}
a,
body,
div,
em,
font,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
img,
li,
menu,
object,
ol,
p,
pre,
span,
strong,
thead,
u,
ul {
  border: 0;
  margin: 0;
  padding: 0;
}
b,
strong {
  font-weight: bold;
}
img {
  border: none;
  outline: none;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  word-wrap: break-word;
}
tr,
th,
td,
caption {
  font-weight: normal;
  text-align: left;
  border-spacing: 0;
  padding: 0;
  margin: 0;
}
input,
button {
  outline: none;
  padding: 0;
  margin: 0;
}
/*去除IE10的清空文本框按钮“X”*/
input::-ms-clear {
  display: none;
}
input:focus {
  outline: none;
  border: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
i,
em {
  font-style: normal;
}
.margTop_10 {
  margin-top: 10px;
}
.margTop_20 {
  margin-top: 20px;
}
.margTop_30 {
  margin-top: 30px;
}
.margTop_40 {
  margin-top: 40px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
  visibility: hidden;
  height: 0;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.hide {
  display: none;
}
.behaviorBg {
  -ms-behavior: url("backgroundsize.min.htc");
  behavior: url("backgroundsize.min.htc");
}
.behavior {
  behavior: url("PIE.htc");
}
.behavior-relative {
  position: relative;
  z-index: 1;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*表单验证提示*/
.formError,
.formError-text,
.qft_errorTxt {
  position: absolute;
  left: 0;
  bottom: -8px;
  width: auto;
  height: 18px;
  line-height: 18px;
  max-width: 100%;
  font-size: 12px;
  color: #fc6365;
  overflow: hidden;
  z-index: 1000;
}
.mainFrom .qft_errorTxt,
.btn-group .qft_errorTxt,
.formInput .qft_errorTxt {
  bottom: -15px;
}
